/* 標籤的基本樣式 */
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #212529;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.py-sm-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 992px) {

  .py-lg-64 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
